.consulensa-base{
  position: relative;
  article{

  }
  .inputfile{
    display: none;
  }

}

.text-temporaneo{
  font-size: 18px;
  line-height: 18px;
  font-weight: normal;
}

.error-label{
  color: #f50057
}

