.collapsible {
  border: 0;
  box-shadow: none;
  color: $primary-color;
  font-size: 20px;
  font-weight: $text-ligth;
  position: relative;

  .collapsible-item {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.05), 0 3px 1px -2px rgba(0,0,0,.05), 0 1px 5px 0 rgba(0,0,0,.05);
    margin-bottom: 10px;

    .collapsible-header {
      position: relative;

      i {
        color: $grey-base;
        font-size: 30px;
        position: absolute;
        right: 0;
        transition: transform .2s ease-in-out;
      }

      span {
        &.accordion-info {
          color: $alert-color;
          font-size: 12px;
          font-weight: $text-bold;
          position: absolute;
          right: 50px;
          text-transform: uppercase;
          top: 20px;

          &.accordion-saved {
            color: $primary-color;
          }

          &.accordion-modifica {
            color: $primary-color;
            text-transform: capitalize;
            text-decoration: underline;
          }
        }
      }
    }

    .collapsible-body {
      background-color: $white;
      padding: 10px 20px;
      position: relative;
      max-height: 0;

      >.row {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 10px;
        }
      }

      .collapsible-section-title {
        background: $primary-color;
        color: $white;
        display: inline-block;
        font-size: 16px;
        margin-bottom: 5px;
        margin-left: -10px;
        margin-top: 20px;
        padding: 10px 20px;
        text-transform: uppercase;
      }


      label {
        .accordion-data-info {
          color: $primary-color;
          position: absolute;
          right: 50px;
          text-align: right;
          text-transform: uppercase;
          top: -38px;
        }
      }

      .submit-collapsible-item {
        margin-top: 0;

        button {
          font-size: 16px;
          font-weight: bold;
          height: 40px;
          line-height: 16px;
          width: 200px;
        }
      }
    }

    @keyframes open-accordion {
      0% {
        max-height: 0;
      }

      100% {
        max-height: 3000px;
      }
    }

    &.open {
      .collapsible-header {
        i {
          transform: rotate(180deg);
          transition: transform .2s ease-in-out;
        }
      }

      .collapsible-body {
        color: $black;
        display: block;
        font-size: 1rem;
        overflow: visible;//per non tagliare il calendar
        height: auto;
        max-height: 5000px;
        animation: open-accordion .3s ease-in-out;
        //transition: max-height 1s linear;
      }
    }
  }
}
