.field-error {
  border: 2px solid $error-color;
  clear: both;
  height: 100%;
  max-height: 250px;
  min-height: 100px;
  min-width: 200px;
  overflow-y: auto;
  padding: 10px;
  padding: 5px;
  width: 100%;

  > h6 {
    background: $error-color;
    color: $white;
    font-weight: bold;
    margin-top: 0;
    padding: 4px 8px;
  }
}
