.instruments-table {
  $group-border: 2px solid $grey-lighten;

  .instruments-header,
  .instruments-sub-header,
  .instruments-row {
    display: flex;

    > div {
      &:nth-child(1) {
        width: 30%;
      }

      &:nth-child(2) {
        width: 25%;
      }

      &:nth-child(3) {
        width: 45%;
      }
    }
  }

  .instruments-header {
    color: $primary-color;
    font-weight: bold;
    text-align: center;

    > div {
      padding: 10px 15px;
    }

    .instruments-col-border {
      text-align: center;

      > div {
        margin: auto;
        max-width: 200px;
      }
    }
  }


  .instruments-sub-header {
    .instruments-col-border {
      border-top: $group-border;

      > div {
        display: flex;
        font-size: 12px;
        font-weight: bold;
        justify-content: space-around;
        text-align: center;
        text-transform: uppercase;
        width: 100%;

        > div {
          min-width: 60px;
          overflow: show;
        }
      }
    }
  }

  .instruments-row,
  .instruments-sub-header {
    &:last-child {
      &:nth-child(1) {
        .instruments-col-border {
          border-bottom: 0;
        }
      }

      .instruments-col-border {
        border-bottom: $group-border;
      }
    }


    > div {
      padding: 0 5px;

      &:nth-child(1) {
        .instruments-col-border {
          align-items: flex-start;
          border: 0;
          color: $grey-base;
          flex-direction: column;

          b {
            color: $black;
            font-size: 18px;
            font-weight: normal;
          }
        }
      }

      &:nth-child(3) {
        .instruments-col-border {
          > div,
          > form {
            > div:last-child {
              color: $tertiary-color;

              input ~ label {
                &::after {
                  border: 2px solid $tertiary-color;
                }
              }

              input:checked {
                & ~ label {
                  &::after {
                    background-color: $tertiary-color;
                    border: 2px solid $tertiary-color;
                  }
                }
              }
            }
          }
        }
      }


      .instruments-col-border {
        align-items: center;
        border-left: $group-border;
        border-right: $group-border;
        display: flex;
        height: 100%;
        padding: 5px;
      }

      .radio-horizontal {
        $radio-size: 24px;

        display: flex;
        justify-content: space-around;
        width: 100%;

        .radio {
          flex: 0 1 auto;
          position: relative;

          label {
            position: absolute;

            &::before,
            &::after {
              height: $radio-size;
              margin: 0;
              width: $radio-size;
            }
          }

          &,
          input,
          label {
            height: $radio-size;
            left: 0 !important;
            top: 0 !important;
            width: $radio-size;
          }
        }

        .check {
          flex: 0 1 auto;
          position: relative;

          label {
            position: absolute;

            &::before {
              left: 4px;
              top: 2px;
            }

            &::after {
              height: $radio-size;
              margin: 0;
              width: $radio-size;
            }
          }

          &,
          input,
          label {
            color: transparent;
            height: $radio-size;
            left: 0 !important;
            top: 0 !important;
            width: $radio-size;
          }
        }
      }
    }
  }
}
