@import "./instruments-table";

.questionario-profilatura {
  h2 {
    margin-bottom: 20px;
  }

  &.main-body {
    .background_pattern {
      height: 210px;
    }

    .subtitle-sezione {
      color: $white;
      display: flex;
      margin-bottom: 20px;

      .question {
        margin-right: 10px;

        h5 {
          font-size: 1rem;
        }

        h6 {
          font-size: .8rem;
        }
      }
    }
  }

  .no-survey {
    border: 1px solid $grey-light;
    color: $primary-color-light;
    margin-top: 40px;
    padding: 20px;
  }

  // .collapsible {
  //   border: 0;
  //   bottom: 0;
  //   box-shadow: none;
  //   left: 4px;
  //   overflow-y: auto;
  //   position: absolute;
  //   top: 215px;
  //   width: 100%;
  // }

  .ricchezza-non-investita {
    $color-empty: rgb(221, 221, 221);
    $color-0: rgb(3, 58, 104);
    $color-1: rgb(128, 155, 178);
    $color-2: rgb(22, 152, 203);
    $color-3: rgb(137, 203, 228);
    $color-4: rgb(96, 208, 195);


    .input-row {
      align-items: center;
      display: flex;

      > div {
        &:nth-child(2) {
          flex-grow: 1;
        }
      }

      .input-wrapper {
        input {
          height: 25px;
          margin-bottom: 10px;
          margin-right: 5px;
          max-width: 40px;
          text-align: right;
        }

        &::after {
          content: '%';
        }
      }
    }

    .bar {
      background: $color-empty;
      border-radius: 4px;
      display: flex;
      margin-top: 15px;
      min-height: 16px;
      overflow: hidden;

      > div {
        height: 16px;
      }
    }

    .empty-bar-msg {
      color: $grey-dark;
      font-size: .8rem;
      margin-top: 0;
    }

    .color-key-line {
      border-radius: 4px;
      height: 12px;
      margin-right: 4px;
      width: 12px;
    }

    .color-key {
      &.color-0 {
        background: $color-0;
      }

      &.color-1 {
        background: $color-1;
      }

      &.color-2 {
        background: $color-2;
      }

      &.color-3 {
        background: $color-3;
      }

      &.color-4 {
        background: $color-4;
      }
    }
  }

}

