.search-box {
  $search-box-color: desaturate(lighten($secondary-color, 35%), 15%);
  $search-box-text-color: desaturate($secondary-color, 15%);
  $search-box-transition-timing: .3s;

  .search-box-content {
    background: $search-box-color;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    max-height: 84px;
    padding: 20px 10px;
    transition: max-height $search-box-transition-timing linear;

    &.closed {
      max-height: 50px;
      overflow: hidden;

      .input-field,
      .DateInput,
      .SingleDatePickerInput {
        opacity: 0;
      }
    }
    .autocomplete{
      margin-top: 0;
      margin-right: 5px;
      input{
        padding-left: 10px;
      }

    }
    .input-field,
    .DateInput,
    .SingleDatePickerInput {
      background:  #fff;
      border: 1px solid grey-base;
      border-radius: 40px;
      float: none;
      margin: 0 5px;
      min-height: 44px;
      opacity: 1;
      transition: opacity $search-box-transition-timing linear;

      .prefix {
        color: gray;
        right: -14px;
        top: 12px;
        font-size: 1.5rem;

        & ~ input {
          margin: 0;
          width: 92%;
          width: calc(100% - 1.5rem);
        }
      }

      input {
        color: $black;
        font-weight: normal;
        margin-bottom: 0;

        &, &:focus {
          border-bottom: 0;
          border: 0;
          outline: none;
          box-shadow: none;
        }
      }

      &:nth-child(1) {
        flex: 1.5 1 auto;
      }
      &:nth-child(2) {
        flex: 1 1.5 auto;
      }
      &:nth-child(3) {
        flex: 1 1.5 auto;
      }
      &:nth-child(4) {
        flex: 1 1.5 auto;
      }

      .picker__date-display {
        background-color: $search-box-color;
        color: $black;
      }

      .picker__day--today{
        color: $search-box-text-color;
      }

      .picker__year-display {
        color: $black;
      }

      .picker__footer {
        button {
          border-radius: 20px;
          font-size: 15px;
          height: 36px;
          line-height: 10px;
          margin: 10px 0;
          padding: 10px;

        }
      }
    }

    //OVERRIDE SPECIFIC CLASS FOR SEARCH INPUT HOME
    .SingleDatePicker {
      margin-top:0;
      padding:0 5px;

      .SingleDatePickerInput{
        margin:0;

        .SingleDatePickerInput_calendarIcon {
          right:-15px;
          top:0;
        }
      }
    }
  }


  .search-box-handle {
    color: $search-box-text-color;
    position: relative;
    top: 0;
    transition: all $search-box-transition-timing linear;

    &.closed {
      color: $primary-color;
      top: -50px;

      .search-icon {
        transform: rotate(0deg);
      }

      b,
      button,
      .chip {
        opacity: 1;
      }
    }

    b,
    button,
    .chip {
      margin: 0;
      margin-right: 10px;
      opacity: 0;
      transition: opacity $search-box-transition-timing linear;
      vertical-align: middle;
    }

    > div {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      padding: 9px 0;

      .search-toggle {
        align-items: center;
        cursor: pointer;
        display: flex;
        font-weight: bold;
        line-height: 32px;
        text-transform: uppercase;
      }

      .search-icon {
        transform: rotate(-180deg);
        transition: transform $search-box-transition-timing linear;
      }
    }
  }
}

.home-filters-chips {
  flex: 1 0 auto;

  button {
    height: 24px;
    line-height: 24px;
    margin-right: 15px;
    padding: 0;
    width: 24px;
  }
//   left: 0;
//   position: absolute;
//   top: -80px;
//   transition: top .3s ease-in-out;
//   width: 100%;
//   z-index: 100;

//   &.visible {
//     top: 0;
//   }
}

.home-scroll {
  bottom: 100px;
  overflow: auto;
  position: absolute;
  top: 0;
  width: 100%;
}

.duck {
  display: block;
  width: 120px;
  margin: 1.5rem auto;
}
