.service-card {

  /*colore sinistro bordo carta per bozze */
  &.draft {
    .card {
      border-left-color: $grey-base;
    }
  }

  /*colore sinistro bordo carta per da firmare */
  &.to-sign {
    .card {
      border-left-color: $alert-color;
    }
  }

  /*colore sinistro bordo carta per completamento av */
  &.compile-av {
    .card {
      border-left-color: rgb(22, 152, 203);
    }
  }

  /*colore sinistro bordo carta per completo */
  &.complete {
    .card {
      border-left-color: rgb(3, 58, 104);
    }
  }

  /* info relativa alla card*/
  .card {
    height: auto;
    border-left: 20px solid $grey-dark;

    /* contenuto della card */
    .card-content {
      > div {
        display: flex;
        width: 90%;
      }

      /* prima colonna card */
      .service-card-column {
        display: flex;
        flex-direction: column;
        width: 180px;
        margin-left: 5px;
        button{
          font-size: 16px;
          background-color: transparent;
          min-width: 160px;
        }

        &:last-child {
          justify-content: center;
        }

      }

      /* colonna 'Stato' card */
      .service-card-column-longer {
        display: flex;
        flex-direction: column;
        width: 100px;
        margin-left: 5px;

        &:last-child {
          justify-content: center;
        }

      }

      /* colonna bottone card */
      .service-card-column-button {
        display: flex;
        flex-direction: column;
        width: 180px;
        margin-left: 5px;
        button{
          font-size: 16px;
          background-color: transparent;
          min-width: 160px;
          padding-right: 22px;
          padding-left: 22px;
        }

        &:last-child {
          justify-content: center;
        }

      }

      .service-card-text-upper{
        font-weight: bold;
        font-size: 100%
      }

      .service-card-text-lower{
        font-weight: bold;
        font-size: 15px;
      }

      .service-action {
        background: transparent;
        border: 2px solid $grey-dark;
        color: $grey-dark;
      }

      /* bottone in caso di firma*/
      .button-to-sign{
        border: 2px solid $alert-color;
        color: $alert-color;
        margin-left: 60px;

      }

      /* bottone in caso di bozza*/
      .button-draft{
        border: 2px solid $grey-base;
        color: $grey-base;
        margin-left: 60px;

      }

      /* bottone completamento av*/
      .button-compile-av{
        border: 2px solid rgb(22, 152, 203);
        color: rgb(22, 152, 203);
        margin-left: 60px;

      }

      /* bottone completo*/
      .button-complete{
        border: 2px solid rgb(3, 58, 104);
        color: rgb(3, 58, 104);
        margin-left: 60px;

      }
    }
  }
}

/* classi utilizzate alla rotazione dell'IPad */
@media screen and (max-width: 768px) {
  .service-card {

    /*colore sinistro bordo carta per bozze */
    &.draft {
      .card {
        border-left-color: $grey-base;
      }
    }

    /*colore sinistro bordo carta per da firmare */
    &.to-sign {
      .card {
        border-left-color: $alert-color;
      }
    }

    /*colore sinistro bordo carta per completamento av */
    &.compile-av {
      .card {
        border-left-color: rgb(22, 152, 203);
      }
    }

    /*colore sinistro bordo carta per completo */
    &.complete {
      .card {
        border-left-color: rgb(3, 58, 104);
      }
    }

    /* info relativa alla card*/
    .card {
      height: auto;
      border-left: 10px solid $grey-dark;

      /* contenuto della card */
      .card-content {
        > div {
          display: flex;
          width: 70%;

        }

        /* prime 2 colonne card */
        .service-card-column {
          display: flex;
          flex-direction: column;
          width: 50%;

          button{
            font-size: 16px;
            background-color: transparent;
          }

          &:last-child {
            justify-content: center;
          }

        }

        /* colonna 'Stato' card */
        .service-card-column-longer {
          display: flex;
          flex-direction: column;
          width: 100px;

          &:last-child {
            justify-content: center;
          }

        }

        /* colonna bottone card */
        .service-card-column-button {

          display: flex;
          flex-direction: column;
          width: 50px;

          button{
            font-size: 16px;
            background-color: transparent;
          }

          &:last-child {
            justify-content: center;
          }
        }

        .service-card-text-upper{
          font-weight: bold;
          font-size: 15px;
        }

        .service-card-text-lower{
          font-weight: bold;
          font-size: 15px;
        }

        .service-action {
          background: transparent;
          border: 2px solid $grey-dark;
          color: $grey-dark;
        }

        /* bottone in caso di firma*/
        .button-to-sign{
          border: 2px solid $alert-color;
          color: $alert-color;
          width: 50%;

        }

        /* bottone in caso di bozza*/
        .button-draft{
          border: 2px solid $grey-base;
          color: $grey-base;

        }

        /* bottone completamento av*/
        .button-compile-av{
          border: 2px solid rgb(22, 152, 203);
          color: rgb(22, 152, 203);
        }

        /* bottone completo*/
        .button-complete{
          border: 2px solid rgb(3, 58, 104);
          color: rgb(3, 58, 104);
        }
      }
    }
  }

}
