.otpVerify-modal{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  top: 0;
  left: 0;

  .otpVerify-container{
    .otpVerify-close{
      width: 25px;
      height: 25px;
      font-size: 11px;
      top: -13px;
      right: -7%;
      transform: rotate(45deg);
      background-color: #f50057;
      border-radius: 25px;
      color: white;
      top: -9px;
      right: -11px;
      position: absolute;
      i::before{
        font-weight: bold;
        vertical-align: middle;
        top: 4px;
        position: relative;
        left: 6px;
      }
    }
    width: 650px;
    height: 300px;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -455px;
    .otpVerify-content{
      text-align: center;
      .otpVerify-body{
        display: inline-block;
        text-align: center;

        input{
          width: 40px;
          border: 1px solid #ccc;
          text-align: center
        }
      }
      h6, p{
        width: 100%;
        text-align: center;
      }
    }
    .otpVerify-footer{
      bottom: -40px;
      position: relative;
      button{
        margin-right: 60px;
      }
    }
  }
}
