.date-picker {
position: relative;

  &.input-field {
    margin-top: 0;
  }

  &.active {
    .date-picker-label {
      color: $primary-color;
    }

    .SingleDatePicker {
      .SingleDatePickerInput {
        input {
          &[type='text'] {
            border-bottom: 2px solid $primary-color;
            margin: 0;
          }
        }
      }
    }
  }

  &.align-left {
    .SingleDatePicker_picker {
      left: auto !important;
      right: 0;
    }
  }

  .date-picker-label {
    color: $grey-medium2;
    font-size: 1rem;
    margin: 0;
    position: absolute;
    top: 0;
    transform: scale(0.8);
    transform-origin: 0 0;
  }

  .SingleDatePicker {
    margin-top: 12px;
    width: 100%;

    .DayPicker_weekHeader {
      top: 92px;
    }

    .SingleDatePickerInput {
      position: relative;

      &,
      .DateInput {
        width: 100%;
      }

      input {
        &[type='text'] {
          color: $black;
          font-weight: normal;
          margin: 0;
          transition: border-bottom .2s ease;
        }
      }

      .SingleDatePickerInput_calendarIcon {
        position: absolute;
        right: -20px;
        top: 2px;
        z-index: 10;
      }
    }

    .year-select-month-caption {
      padding-top: 0;
      padding-bottom: 22px;
      height: 60px;

      strong {
        position: relative;
        cursor: pointer;

        .years-panel {
          position: absolute;
          top: -25px;
          right: -15px;
          height: 85px;
          overflow-y: scroll;
          cursor: pointer;

          >div {
            background: white;
            cursor: pointer;
          }
        }
      }

    }
  }


  .SingleDatePickerInput {
    border-color: transparent;
  }


  .DateInput_fang {
    margin-top: -22px;
    z-index: 1000;
  }

  .SingleDatePicker_picker {
    margin-top: -22px;
    z-index: 10;
    box-shadow: 0px 2px 12px $grey-base;

    .CalendarDay__selected {
      background: $secondary-color;
      border: 1px solid $secondary-color;
      font-weight: bold;
    }
  }
}
