.yes-no-question {
  align-items: center;
  display: flex;
  justify-content: space-between;

  p {
    color: $black;
  }

  .box-input {
    height: 50px;
    min-width: 102px;
    position: relative;
    z-index: 5;

    .yes-button,
    .no-button {
      background-color: transparent;
      border: 0;
      border-radius: 25px;
      color: $grey-base;
      height: 50px;
      width: 50px;
    }

    &:before {
      content: '';
      top:5px;
      left:5px;
      width: 40px;
      height: 40px;
      background-color: transparent;
      border-radius: 20px;
      position: absolute;
      z-index:-1;
      transition: all .3s ease-in-out;
    }
    &.yes-selected {
      .yes-button {
        color:$white;
      }
      &:before {
        background-color: $secondary-color;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
      }
    }
    &.no-selected {
      .no-button {
        color:$white;
      }
      &:before {
        left:55px;
        background-color: $error-color;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
      }
    }
  }
}
