.box-image-container{

  margin-left:0 !important;
  margin-right:0 !important;

  form {
    display: none;
  }

  .box-image {
    border:1px solid $grey-light;
    max-width:200px;
    height: 150px;
    margin: auto;
    position: relative;

    .box-image-button {
      position: absolute;
      width: 50px;
      height: 50px;
      top:50px;
      right: 38%;
      color:$white;
      background-color: $secondary-color;
      border:none;
      border-radius: 25px;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
      transition: all .5s ease-in-out;
    }

    .img-document {
      max-height: 100%;
      max-width: 100%;
      margin: auto;
      display: none;
    }

    //CON IMMAGINE CARICATA
    &.img-loaded {
      .box-image-button {
        width: 25px;
        height: 25px;
        font-size: 11px;
        top:-13px;
        right: -7%;
        transform: rotate(45deg);
        background-color: $error-color;
      }

      .img-document {
        display: block;
      }
    }
  }

  .box-image-suggestion-label {
    text-align: center;
  }

  .img-for-create-url{
    display: none;
  }
}
