.true-false-question {
  @extend .yes-no-question;

  &.disabled {
    pointer-events: none;

    .title {
      color: $grey-base;
    }

    .yes-button,
    .no-button {
      color: $grey-medium;
    }

    .yes-selected,
    .no-selected {
      &::before {
        background: transparent;
        box-shadow: none;
      }

      .yes-button,
      .no-button {
        color: $grey-medium;
      }
    }
  }

  .title {
    flex: 0 0 25%;
    font-size: 16px;
  }

  .subtitle {
    color: $grey-base;
    flex: 1 1 auto;
    font-size: 14px;
  }

  .yes-button, .no-button {
    font-size: 24px;
    font-weight: $text-bold;
  }
}
