#namirialFrame{
  border: none;
}
.action-send-file{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  .col{
    float: none;
    text-align: center
  }
}


.box-vertical-container{
  position: relative;
  text-align: center;
  .box-vertical{
    background-color: #FCFCFC;
    box-shadow: -1px 0 12px rgba(0, 0, 0, 0.1);
    min-height: 468px;
    height: 100%;
    position: relative;
    padding: 10px;
    margin: 0;
    min-width: 370px;
    width: 40%;
    display: inline-block;
    top: 0;
    vertical-align: top;
    margin-right: 15px;
    text-align: left;
    &.box-vertical-right{
      padding: 0;
    }
    .user-list-item {
      box-shadow: 2px 3px 7px -1px rgba(0, 0, 0, 0.2);
      margin-bottom: 20px;
      position: relative;
      border-radius: 15px;
      background-color: white;

      &.color-DA_FIRMARE{
        &::after{
          background-color: $orange-light;
        }
        button{
          color: $orange-light;
        }

      }
      .user-name{
        border: none;
      }
      .user-card-statopratica-titolo {
        color: #ccc;
        font-size: 12px;
      }
      .user-card-cf {
        font-size: 12px;
        margin-bottom: 8px;
      }
      .user-icon{
        padding-left: 20px;
        i{
          right: -7px;
          top: 24px;
        }
        img{
          height: 40px;
          width: 40px;
        }
      }
      &::after{
        position: absolute;
        content: "";
        width: 15px;
        height: 100%;
        background-color:$primary-color;
        top: 0;
        left: 0;
      }
      button{
        color:$primary-color;
        position: absolute;
        right: 8px;
        top: 50%;
        margin-top: -20px;
        font-size: 12px;
        padding: 0 12px;
      }
    }
    &.box-vertical-right {
      background: transparent;
      box-shadow: none;
    }
    ul{
      margin-left: 10px;
    }
  }
}

.namirial-frame-body{
  text-align: center;
  margin-top: 150px;
}
