.intestazione{
    color:white;
    background-color: rgb(3, 58, 104);
    text-align: center;
    height: 50px;
    line-height: 50px;
    width: 150px;
}

.title-sezione-config {
    font-size: 18px;
    text-transform: uppercase;
    color:$white;
    opacity: .8;
    margin:0;
    margin-bottom: 40px;
    margin-left: 120px;
  }

  .buttons-servizio-box {
      display: flex;
      justify-content: space-between;
  }

  .button-servizio-check {
    padding:10px;
    border: 1px solid $grey-base;
    border-radius: 10px;
    text-align: center;
    min-width: 150px;
    max-width: 150px;
    color: $grey-base;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .icon-prodotti-action-bar {
      font-size: 30px;
    }

    p {
      font-size: 12px;
      text-transform: uppercase;
    }

    [type="checkbox"] + label {
      //override classic checkbox style
      padding-left: 20px;
    }
  }
