.user-list-item {
  display: flex;

  .user-icon {
    position: relative;

    img {
      height: 48px;
      width: 48px;
    }

    i {
      color: $success-color;
      font-weight: bold;
      position: absolute;
      right: -8px;
      top: 30px;
    }
  }

  .user-name {
    border-bottom: 1px solid $grey-medium;
    flex-grow: 1;

    > div {
      div {
        &:last-child {
          color: $black;
        }
      }
    }
  }
}
