.aside-home {
  overflow-y: scroll;
}

.user-list-item {
  display: flex;

  .user-icon {
    position: relative;

    img {
      height: 48px;
      width: 48px;
    }

    i {
      color: $success-color;
      font-weight: bold;
      position: absolute;
      right: -8px;
      top: 30px;
    }
  }

  .user-name {
    border-bottom: 1px solid $grey-medium;
    flex-grow: 1;

    > div {
      div {
        &:last-child {
          color: $black;
        }
      }
    }
  }
}

.icon-user {

  font-size: 50px;
  color:$primary-color;

  &.draft{
    opacity: 0.3;
  }

  &.complete{
    &:after {
      color: $tertiary-color;
      content: "\E90A";
      position: absolute;
      font-size: 1.2rem;
      left: 2.5rem;
      top: 2.4rem;
    }
  }

}
