/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors';
@import './variables/components';
@import './themes/default';
*/
@import 'override';
@import 'input-custom';
@import 'text-styling';
@import 'spacing';

.paddingless {
  padding:0 !important;
}

.marginless {
  margin:0 !important;
}

.container-home {
  height: 100%;

  .container-home-left {
    height: 100%;
    overflow: scroll;
    padding: 0;
    position: relative;

    .suggestion-card {
      margin-top: 200px;
      max-height: 190px;
      border:1px solid $grey-light;
      position: relative;
      padding: 40px;
      display: flex;
      align-items: center;
      font-size: 16px;
      line-height: 22px;

      &:before {
        //barra laterale card
        content: '';
        height: 100%;
        width:20px;
        position: absolute;
        top:0;
        left:0;
        background-color: $grey-light;
      }

      .iconographic-folder {
        width: 253px;
        height: 196px;
        margin-right: 40px;
      }

      button {
        position: absolute;
        background-color: $white;
        bottom: -25px;
        right: 25px;
        font-size: 16px;
      }
    }
  }
}

.azimut-field {
  > div {
    &:first-child {
      color: $grey-base;
    }
    &:last-child {
      font-size: 120%;
    }
  }
}

.pep-section {

  .big-radio {
    margin-bottom: 0px;
    border-bottom: 1px solid $grey-light;
  }

  .big-radio [type='radio'] ~ label {
    font-size: 10px;
    padding-left: 35px;
  }

  .pep-more-info-box {
    background-color: #fafafa;
    max-height: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: all .5s ease-in-out;

    .inner-shadow-top-box {
      height: 20px;
      box-shadow: inset 0px 3px 5px rgba(0, 0, 0, 0.1);
    }

    .inner-shadow-bottom-box {
      height: 20px;
      box-shadow: inset 0px -3px 5px rgba(0, 0, 0, 0.1);
    }

    .DateInput, .SingleDatePickerInput {
      background-color: #fafafa;
    }

    &.pep-active {
      height: auto;
      max-height: 1200px;
      transition: all .5s ease-in-out;
      border-bottom: 1px solid $grey-light;

      .hide-question {
        display: none;
      }
    }
  }

}
