@font-face {
  font-family: 'azimut-iconfont';
  src:  url('fonts/azimut-icons.eot?jszuc7');
  src:  url('fonts/azimut-icons.eot?jszuc7#iefix') format('embedded-opentype'),
    url('fonts/azimut-icons.ttf?jszuc7') format('truetype'),
    url('fonts/azimut-icons.woff?jszuc7') format('woff'),
    url('fonts/azimut-icons.svg?jszuc7#azimut-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'azimut-iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-plus:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-accordion:before {
  content: "\e902";
}
.icon-icona-per-ricerca-chiusa:before {
  content: "\e903";
}
.icon-arrow:before {
  content: "\e904";
}
.icon-arrow-back:before {
  content: "\e904";
  transform: rotate(180deg);
  display: inline-block;
}
.icon-meno:before {
  content: "\e905";
}
.icon-doc-spalla-dx:before {
  content: "\e906";
}
.icon-prodotti-action-bar:before {
  content: "\e907";
}
.icon-doc:before {
  content: "\e908";
}
.icon-alert-per-icona-non-completa-spalla-dx:before {
  content: "\e909";
}
.icon-check-per-icona-doc-spalla-dx:before {
  content: "\e90a";
}
.icon-check-per-bottone-outline:before {
  content: "\e90b";
}
.icon-check-codice-fiscale-success:before {
  content: "\e90c";
}
.icon-calendar:before {
  content: "\e90d";
}
.icon-cerca:before {
  content: "\e90e";
}
.icon-in-compilazione:before {
  content: "\e90f";
}
.icon-password:before {
  content: "\e910";
}
.icon-camera:before {
  content: "\e911";
}
.icon-login:before {
  content: "\e912";
}
.icon-user:before {
  content: "\e913";
}
.icon-barcode:before {
  content: "\e914";
}
.icon-document-pdf:before {
  content: "\e915";
}
