.input-field + .suggestion-for-input,
 .suggestion-for-input {
  font-size: 12px;
  color:$grey-base;
  text-transform: uppercase;
  padding: 0 .75rem;
}

.input-field + .helper-text {
    position: relative;
    min-height: 18px;
    display: block;
    font-size: 12px;
    color: rgba(0,0,0,0.54);
}

.col-position-relative{
  position: relative;
  a.certifica {
    position: absolute;
    right: 21px;
    top: 27px;
    display: block;
  }
}

.indirizzo-alternativo {
  font-size:12px;
  color:$grey-base;

  b {
    color:$primary-color;
  }
}

.indirizzo-alternativo-button {
  position: relative;
  float: right;
  color:$primary-color;
  font-weight: $text-bold;
}
