html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.input-field i{
  position: absolute;
  right: .75rem;
  top: .75rem;
  color: color('grey', 'base');
}

.dropdown-content li > span {
  font-size: 16px;
  color: color('grey', 'base');
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
  border-bottom: 1px solid $primary-color;
  box-shadow: 0 1px 0 0 color('grey', 'base');
}

input:not([type]):focus:not([readonly]) + label, input[type=text]:not(.browser-default):focus:not([readonly]) + label, input[type=password]:not(.browser-default):focus:not([readonly]) + label, input[type=email]:not(.browser-default):focus:not([readonly]) + label, input[type=url]:not(.browser-default):focus:not([readonly]) + label, input[type=time]:not(.browser-default):focus:not([readonly]) + label, input[type=date]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime]:not(.browser-default):focus:not([readonly]) + label, input[type=datetime-local]:not(.browser-default):focus:not([readonly]) + label, input[type=tel]:not(.browser-default):focus:not([readonly]) + label, input[type=number]:not(.browser-default):focus:not([readonly]) + label, input[type=search]:not(.browser-default):focus:not([readonly]) + label, textarea.materialize-textarea:focus:not([readonly]) + label{
  color:$primary-color;
}

//disabled
input[type=text]:not(.browser-default):disabled {
  color:$grey-base;
  border-bottom: 1px dotted rgba(136, 136, 136, 0.5);

  & + label {
    color: $grey-base;
    opacity: .5;
  }
}


.big-radio {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;

  >div {
    flex: 0 1;
    height: 70px;
    padding-top: 45px;
    position: relative;
  }

  [type='radio'], [type='radio'].with-gap {
    height: 40px;
    left: 0 !important;
    top: 1px !important;
    visibility: hidden;
    width: 160px;

    & ~ label {
      border-radius: 24px;
      border: 2px solid $grey-medium;
      font-size: 14px;
      font-weight: bold;
      height: 38px;
      line-height: 27px;
      padding: 5px 10px 5px 35px;
      text-transform: uppercase;
      top: -45px;
      width: 160px;

      &::before {
        background: $white;
        border: 1px solid $grey-medium;
        height: 24px;
        left: 4px;
        margin: 0;
        position: absolute;
        top: 5px;
        width: 24px;
        z-index: 0;
      }

      &::after {
        background: $secondary-color;
        height: 26px;
        left: 3px;
        margin: 0;
        position: absolute;
        top: 4px;
        width: 26px;
        z-index: 0;
      }

      & ~ .subtitle {
        color: $grey-base;
        position: absolute;
        text-align: center;
        top: 45px;
        width: 100%;
      }
    }


    &:checked {
      & ~ label {
        background: $secondary-color;
        border: 2px solid $secondary-color;
        box-shadow: 0 2px 5px 0 $grey-medium;
        color: $white;
        padding-left: 35px;

        &::before {
          background: $white;
          border: 1px solid $white;
        }

        &::after {
          background: $secondary-color;
        }
      }
    }
  }
}

//OVERRIDE AUTOCOMPLETE DROPDOWN
.autocomplete-content{
  position: absolute;
  width: 490px;
}

.autocomplete-custom{
  position: relative;
  display: inline-block;
  width: 100%;

  .error-label {
    font-size: 12px;
    color:$error-color;
    position: absolute;
    top:65px;
    left:.75rem;
    text-transform: uppercase;
  }

  .input-field{
    width: 100%;

    //CLASS TO FORCE label style qith default value
    &.active {
      label {
        transform: translateY(-14px) scale(0.8);
        transform-origin: 0 0;
      }
    }
  }
}

.error-input-custom {
  .input-field {
    input[type=text]:not(.browser-default) {
      border-bottom: 1px solid $error-color;
    }
  }
}

button {
  &:focus {
    outline: none;
  }
}


//OVERRIDE RADIO Button
[type='radio'] {
  cursor: pointer;
  left: 18px;
  opacity: 0;
  pointer-events: inherit;
  position: relative;
  top: -2px;
  visibility: hidden;
  z-index: 1;

  &,
  &.with-gap {
    & + label {
      padding-left: 28px;
      letter-spacing: .1px;
    }

    &:not(:checked) {
      & + label {
        &::before,
        &::after {
          border: 2px solid color('grey', 'base');
        }
      }
    }

    &:checked {
      &.negative {
        & + label {
          &::before {
            border-color: $error-color;
          }

          &::after {
            background: $error-color;
            border-color: $error-color;
          }
        }
      }

      // & + label:after,
      // &.with-gap:checked + label:after {
      //   background-color: $secondary-color;
      // }

      & + label {
        color: $primary-color;
        font-weight: bold;
        letter-spacing: 0;

        &::before {
          border-color: $secondary-color;
        }

        &::after {
          background: $secondary-color;
          border-color: $secondary-color;
        }
      }

      // & + label:after,
      // &.with-gap:checked + label:before,
      // &.with-gap:checked + label:after{
      //   border: 2px solid $secondary-color;
      // }
    }
  }


}


form {
  &.uppercase {
    label {
      font-size: .75rem;
      text-transform: uppercase;
    }
  }

  .radio-horizontal {
    p {
      display: inline-block;
      position: relative;
      text-align: left;
      text-transform: uppercase;

      label {
        padding-left: 30px;
      }
    }
  }
}

.radio-horizontal {
  p {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    text-align: left;
    text-transform: uppercase;
  }
}

//OVERRIDE textarea
textarea.materialize-textarea {
  padding:.8rem 0 0 0;
  margin: 0 0 10px 0;
}
.suggestion-textarea {
  color:$grey-base;
  font-size: 12px;
}

//OVERRIDE ACCORDION Style
ul:not(.browser-default).collapsible {
  border: 0;
  box-shadow: none;

  .collapsible-body {

  }
}

//OVERRIDE COLOR CHECKBOX
[type="checkbox"].filled-in:not(:checked) + label:after{
  border: 2px solid $grey-base;
}

[type="checkbox"].filled-in:checked + label:after {
  border: 2px solid $secondary-color;
  background-color: $secondary-color;
}

[type="checkbox"]:checked + label {
  color: $primary-color;
}

.btn, .btn-large, .btn-small, .btn-flat {
  padding-right: 32px;
  padding-left: 32px;
}

//STYLE FOR CHECKBOX INLINE WITH INPUT TEXT
.inline-checked-input-text{
  display: flex;
  align-items: center;

  input[type="checkbox"]+label {
    padding-left: 10px;
    color: transparent;
  }
}

//STYLE FOR INPUTS Assegno
.inputs-assegno {
  padding:0 1.5rem;
  .col {
    padding-right: 0;
    padding-left: 0;

    input[type="text"] {
      border-right: 1px solid $grey-light;
    }
  }
}

//OVERRIVE ARROW FOR select
span.caret {
  color: transparent !important;

  &:before {
    color: $grey-base;
    content: '\e902';//arrow icon
    font-family: 'azimut-iconfont' !important;
    font-size: 12px;
  }
}
