/* stylelint-disable */

// EXAMPLE "margin-t-20" generate margin-top: 20px;
// EXAMPLE "margin-20" generate margin: 20px;

//CONFIGURABLE FIELDS
$sizeUnit: px;
$marginKey: 'margin';
$paddingKey: 'padding';
$separator: '-';
$sizes: (
    ('none', 0),
    ('5', 5),
    ('10', 10),
    ('15', 15),
    ('20', 20),
    ('25', 25),
    ('30', 30),
    ('40', 40),
    ('50', 50),
    ('60', 60),
    ('80', 80),
);
$positions: (
    ('t', 'top'),
    ('r', 'right'),
    ('b', 'bottom'),
    ('l', 'left')
);

@function sizeValue($key, $value) {
  @return if($key == 'none', 0, $value + $sizeUnit);
}

@each $size in $sizes {
  $sizeKey: nth($size, 1);
  $sizeValue: nth($size, 2);

  .#{$marginKey}#{$separator}#{$sizeKey} {
    margin: sizeValue($sizeKey, $sizeValue);
  }

  .#{$paddingKey}#{$separator}#{$sizeKey} {
    padding: sizeValue($sizeKey, $sizeValue);
  }
  @each $position in $positions {
    $posKey: nth($position, 1);
    $posValue: nth($position, 2);

    .#{$marginKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
      margin-#{$posValue}: sizeValue($sizeKey, $sizeValue);
    }

    .#{$paddingKey}#{$separator}#{$posKey}#{$separator}#{$sizeKey} {
      padding-#{$posValue}: sizeValue($sizeKey, $sizeValue);
    }
  }
}
/* stylelint-enable */
