.title-macrosezione {
  color: $primary-color;
  font-size: 18px;
  font-weight: $text-bold;
  text-transform: uppercase;
}

.title-sezione {
  font-size: 18px;
  text-transform: uppercase;
  color:$white;
  opacity: .8;
  margin:0;
  margin-bottom: 40px;
}

.title-subsection {
  font-size: 14px;
  text-transform: uppercase;
  color: $white;
  padding: 10px;
  background-color: $primary-color;
  margin-top: 10px;
  display: inline-block;
}

.text-servizio-my-azimut {
  color:$primary-color;
  padding-left: 15px;
}

.suggestion-text {
  font-size: 12px;
  color: $grey-base;
  margin:0;
  margin-bottom: 10px;
}
