@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700');
@import '../vendor/materialize/sass/materialize';
@import 'icons';
@import 'base';
@import 'components'; // Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want



html {
  box-sizing: border-box;
}

body,
html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;

  .main-body {
    &.no-aside {
      header {
        width: 100%;
      }
    }

    header {
      height: 48px;
      width: 75%;
      position: fixed;
      z-index: 100;

      h1 {
        width: 100%;
        display: inline-block;
        text-align: center;
        margin: 0;
        padding-top: 16px;
        height: 100%;
        background-color: rgba(214, 220, 223, 0.75);
      }

      .torna-pratiche {
        font-size: 14px;
        position: absolute;
        color: white;
        background-color: $primary-color;
        padding: 13px;
        height: 100%;
        text-transform: uppercase;
      }
    }

    .background_pattern {
      height: 150px;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -5;
      background: url("./img/background-pattern.png");
      background-size: cover;
    }

    .page-left-content {
      padding: 80px 20px 20px;
      display: block;
    }

    .box-container {
      background-color: $white;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05), 0 3px 1px -2px rgba(0, 0, 0, 0.05), 0 1px 5px 0 rgba(0, 0, 0, 0.05);
      padding-top: 10px;
      position: relative;

      label.box-data-info {
        position: absolute;
        color: $alert-color;
        text-align: right;
        text-transform: uppercase;
        top: 20px;
        right: 20px;
      }
    }

    .box-intestatari, .box-codice-fiscale  {
      margin: auto;
      padding: 1.5rem;
      width: 80%;
    }

    .box-codice-fiscale  {
      padding-top: 80px;

      input[type = 'file'] {
        display: none;
      }

      .icon-barcode {
        font-size:40px;
      }

      .icon-check-codice-fiscale-success {
        display: block;
        text-align: center;
        color: $secondary-color;
        font-size: 40px;
      }
      .title-success, .subtitle-success {
        text-align: center;
        color: $primary-color;
        font-size: 20px;
      }

      .subtitle-success{
        font-size: 14px;
      }
    }

    .aside-service {
      background-color: #FCFCFC;
      box-shadow: -5px 0 5px rgba(0,0,0,.1);
      min-height: 768px;
      height: 100%;
      position: fixed;
      top:0;
      padding:10px;
      margin:0;
      min-width: 256px;
      width: 26%; //same of the column s3
      z-index: 1000; //maggiore dell'autocomplete <ul>

      .title-intestatari-aside {
        color: $primary-color;
        font-size: 14px;
        font-weight: $text-bold;
        text-transform: uppercase;
      }
      .info-cliente {
        display: flex;
        align-items: center;
        padding: 10px 0px;
        border-bottom: 1px solid $grey-light;

        .icon-user {
          font-size: 30px;
          color:$primary-color;
          margin-right: 15px;
        }

        .label-user {
          font-size: 12px;
          color:$grey-medium2;
          margin:0;
          margin-bottom: 10px;
        }

        .value-user{
          color: $grey-base;
          font-size: 16px;
          text-transform: capitalize;
          margin: 0;
        }
      }
    }

    .aside-adeguata-verifica{
      @extend .aside-service;
      border-bottom: 0;
      padding: 0;

      .info-cliente {
        padding: 10px;
      }

      .value-cf {
        font-size: 12px;
        color: $grey-base;
      }

      .contratto-box-info {
        font-size: 12px;
        padding: 10px;
        position: relative;
        border-bottom: 1px solid $grey-light;
        border-top: 1px solid $grey-light;
        margin-bottom: 6px;

        &::before {
          content:'';
          width: 6px;
          height: 100%;
          top: 0;
          left: 0;
          position: absolute;
          background-color: $primary-color;
        }

        p {
          margin:0;
        }
      }
    }


    article {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;

      .inputfile {
        display: none;
      }

      .article-container,
      .article-container-success {
        width: 100%;
        position: relative;

        button {
          position: relative;
          top: -70px;
          left: 50%;
          margin-left: -94px;
        }

        .article-content {
          background-color: $white;
          padding: 5px;
          width: 80%;
          height: 250px;
          margin: 0 auto;
          line-height: 250px;
          font-weight: 700;
          font-size: 3em;
          text-align: center;
          display: block;
          position: relative;
          margin-top: 140px;
          box-shadow: 2px 2px 20px 1px $grey-base;

          input[type=file] {
            display: none;
          }

          div {
            position: relative;
            margin-top: -40px;

            input {
              height: 40px;
              color: $black;
              font-weight: normal;
            }
          }
        }
      }
    }
  }
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

#preview {
  display: none;
}

.sezione-riepilogo {
  .modifica-sezione-riepilogo {
    position: absolute;
    top: -42px;
    right: 50px;
    color: $primary-color;
    font-weight: $text-bold;
  }
}
