
.footer-bar {
  height: 100px;
  background-color: $primary-color;
  position: fixed;
  z-index:200;
  bottom: 0;
  width: 75%;
  background: url("./img/background-pattern.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: height .5s ease-in-out;

  .nav-links-box {
    display: none;
    justify-content: space-around;
    margin-top: 30px;

    .nav-link-item {
      max-width: 130px;
      opacity: 0;
      transition: opacity 1s ease-in-out;
      color:$white;
      text-align: center;

      i {
        font-size: 30px;
      }

      p {
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
      }
    }
  }

  .button-container{
    position: absolute;
    bottom: 15px;
    left: 46%;
    width: auto;
    text-align: center;
    margin:0;
  }

  .button-toogle {
    display: flex;
    justify-content: center;
    width: 70px;
    height: 70px;
    font-size: 24px;
    color: #fff;
    border: 0;
    border-radius: 50%;
    background-color: $secondary-color;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.20);
    text-align: center;
    padding:0;
    transition: all .5s ease-in-out;
  }

  &:before {
    content: "";
    width: 100%;
    height: 0px;
    background-color: #002b5a;
    position: absolute;
    bottom: 0;
    transition: height .5s ease-in-out;
  }

  &.active {
    //se clicco sul bottone
    height: 220px;

    .nav-links-box {
      display: flex;

      .nav-link-item {
        opacity: 1;
      }
    }

    .button-toogle {
      transform: rotate(45deg);
      background-color: red;
    }

    &:before {
      height: 50px;
    }
  }
}
