.autocomplete {
  display: block;
  margin-bottom: 20px;
  margin-top: 1rem;
  position: relative;

  &.invalid {
    input {
      &[type='text'] {
        border-bottom: 1px solid #f50057;

        &:focus {
          border-bottom: 1px solid #f50057;
          box-shadow: 0 1px 0 0 #f50057;
        }
      }
    }

    .error-label {
      display: block;
    }
  }

  &.disabled {
    pointer-events: none;
  }

  &.filled {
    .input-field {
      label {
        transform: translateY(-14px) scale(.8);
      }
    }
  }

  .input-field {
    margin-top: 0;
    width: 100%;

    input {
      margin-bottom: 0;

      &:focus,
      &:active {
        & + .suggestions {
          display: block;
        }
      }
    }

    .suggestions {
      display: none;
      left: 0;
      // padding: 0 .75rem;
      position: absolute;
      top: 45px;
      width: 100%;
      z-index: 100;

      &:hover {
        display: block;
      }

      .collection {
        box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14),0 1px 7px 0 rgba(0,0,0,0.12),0 3px 1px -1px rgba(0,0,0,0.2);
        margin-top: 0;

        .collection-item {
          cursor: pointer;
        }
      }
    }
  }

  .error-label {
    color: #f50057;
    display: none;
    font-size: 12px;
    padding: 5px 0;
    position: absolute;
    text-transform: uppercase;
  }

}
