.aside {
  background-color: #FCFCFC;
  box-shadow: -5px 0 5px rgba(0,0,0,.1);
  min-height: 768px;
  height: 100%;
  position: fixed;
  padding:0;
  margin:0;
  min-width: 256px;
  width: 25%; //same of the column s3
  z-index: 1000; //maggiore dell'autocomplete <ul>

  .info-cliente {
    display: flex;
    align-items: center;
    padding:15px;

    .icon-user {
      font-size: 30px;
      color:$primary-color;
      margin-right: 15px;
    }

    .label-user {
      font-size: 12px;
      color:$grey-medium2;
      margin:0;
      margin-bottom: 10px;
    }

    .value-user, .value-cf {
      color: $grey-base;
      font-size: 16px;
      text-transform: capitalize;
      margin: 0;
    }

    .value-cf{
      text-transform: uppercase;
    }

    .value-cf-small {
      margin: 0;
      margin-top: 10px;
      font-size: 10px;
    }
  }

  .progress-info {
    border-bottom: 1px solid $grey-light;
    padding: 0 15px 15px 15px;

    .percentage-value {
      margin: 0;
      text-align: right;
      font-size: 12px;
    }

    .progress-bar-background {
      height: 5px;
      width: 100%;
      background-color: #eee;
      border-radius: 5px;
      position: relative;
    }

    .progress-bar-complete {
      height: 5px;
      border-radius: 5px;
      position: absolute;
      background-color: $secondary-color;
    }
  }

  ul {
    margin: 0;

    .navigation-item {
      //basic style
      min-height: 110px;
      border-bottom: 1px solid $grey-light;
      display: flex;
      font-size: 14px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      color: $primary-color;
      text-transform: uppercase;

      i {
        font-size: 1.8rem;
        position: relative;
        padding-bottom: 5px;
      }

      //DI SEGUITO STYLING PER LO STATO DELLA SEZIONE
      &.stato-BOZZA {
        i:before {
          content: "\E906";
        }
        i:after {
          color: $tertiary-color;
          content: "\E909";
          position: absolute;
          font-size: 1.2rem;
          left: 1.1rem;
          top: 1rem;
        }
      }

      &.stato-ATTIVA {
        i:before {
          content: "\e90f";
        }
      }

      &.stato-COMPLETATA {
        i:before {
          content: "\E906";
        }
        i:after {
          color: $secondary-color;
          content: "\E90A";
          position: absolute;
          font-size: 1.2rem;
          left: 1.1rem;
          top: 1rem;
        }
      }

      &.hiding-riepilogo {
        display: none;
      }
    }
  }
}
