//OVERRIDE STILI default
.slider {
  height: auto;
}
.rangeslider-horizontal {
  height: 5px;

  .rangeslider__fill {
    background-color: $primary-color;
  }

  .rangeslider__handle-tooltip {
    background-color: $primary-color;
    border-radius: 20px;

    &:after{
      border-top: 8px solid $primary-color;
      bottom: -6px;
    }
  }
}
//FINE OVERRIDE

.title-slider {
  font-size: 1rem;
}
