.modal-background {
  height: 100vh;
  width: 100vw;
  background-color: rgba(#000000, 0.2);
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
}

.modal-box-container {
  width: 500px;
  margin: 20% auto auto;

  .modal-box-content {
    padding: 40px 80px;
    background-color: $white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    .modal-title {
      margin-top: 0;
      font-size: 18px;
      text-align: center;
      font-weight: $text-bold;
    }

    .modal-text {
      margin: 0;
      font-size: 14px;
      text-align: center;
    }
  }

  .modal-box-actions {
    background-color: $white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: 1px solid $grey-light;

    .modal-action {
      background: none;
      border:none;
      color:$tertiary-color;
      width: 50%;
      height: 60px;
      font-size: 18px;

      &.primary {
        font-weight: $text-bold;
        border-left: 1px solid $grey-light;
      }
    }
  }
}
