.box-input-plus-minus {
  display: flex;
  border:1px solid $grey-base;
  border-radius: 5px;
  margin:0;

  input[type="number"], input[type="text"] {
    margin:0;
    border:none;
    padding-left:10px;

    &:focus{
      border-bottom: 0px !important;
    }
  }


  .button-step {
    background-color: $grey-lighten;
    border: none;
    width: 50px;
    color: $primary-color;
    font-size: 25px;

    &.button-minus {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-right: 1px solid $grey-base;
    }

    &.button-plus {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border-left: 1px solid $grey-base;
    }

    &[disabled]{
      opacity: .3;
    }
  }
}
